@config "../../tailwind.config.js";
@import "tailwindcss";


html {
  scroll-behavior: smooth;
  color: #111111;
}

.accent{
  color: #e8505b; /* rose-500 */
}
.bg-accent{
  background-color: #e8505b; /* rose-500 */
}
.bg-accent:hover{
  background-color: #c3232e; /* gray-100 */
}
/* Custom scrollbar for timeline or any scrollable div */
.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #e8505b; /* rose-500 */
  border-radius: 9999px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* gray-100 */
}
